<section id="mountain">
  <div class="mountain">
    {{mountain-top}}
  </div>
  <div class="mountain-two">
    {{mountain-top}}
  </div>
   <div class="mountain-three">
     {{mountain-top}}
  </div>
  <div class="mountain-four">
    <div class="mountain-top-small">
      <div class="mountain-cap-1s"></div>
      <div class="mountain-cap-2s"></div>
      <div class="mountain-cap-3s"></div>
    </div>
  </div>
  <div class="mountain-five">
    <div class="mountain-top-small">
      <div class="mountain-cap-1s"></div>
      <div class="mountain-cap-2s"></div>
      <div class="mountain-cap-3s"></div>
    </div>
  </div>
  <div class="cloud"></div>
</section>

<section id="trees">
  {{tree-section id="tree-1"}}
  {{tree-section id="tree-2"}}
  {{tree-section id="tree-3"}}
  {{tree-section id="tree-4"}}
  {{tree-section}}
  {{tree-section id="tree1"}}
  {{tree-section id="tree2"}}
  {{tree-section id="tree3"}}
  {{tree-section id="tree4"}}
</section>
