<section id="mountain">
  <div id="slide1" class="slide">
    <div class="mountain">
      {{mountain-top}}
    </div>
    <div class="mountain-two">
      {{mountain-top}}
    </div>
     <div class="mountain-three">
       {{mountain-top}}
    </div>
    <div class="mountain-four">
      <div class="mountain-top-small">
        <div class="mountain-cap-1s"></div>
        <div class="mountain-cap-2s"></div>
        <div class="mountain-cap-3s"></div>
      </div>
    </div>
    <div class="mountain-five">
      <div class="mountain-top-small">
        <div class="mountain-cap-1s"></div>
        <div class="mountain-cap-2s"></div>
        <div class="mountain-cap-3s"></div>
      </div>
    </div>
  </div>
  <div class="cloud"></div>
</section>

<section id="trees">
  {{tree-section id="tree-1" class="pos"}}
  {{tree-section id="tree-2" class="pos"}}
  {{tree-section id="tree0" class="pos"}}
  {{tree-section id="tree1" class="pos"}}
  {{tree-section id="tree2" class="pos"}}
  {{tree-section id="tree3" class="pos"}}
  {{tree-section id="tree4" class="pos" }}
</section>

<section>
  {{skill-board model=model}}
  {{camp-fire}}
</section>
